BMI2.json
[{"id":"fff2c2fc.f131b","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"fe0ea41b.eba5d8","type":"inject","z":"fff2c2fc.f131b","name":"Normal","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["efae1503.ffde78"]]},{"id":"d74b1720.d77cb8","type":"inject","z":"fff2c2fc.f131b","name":"Alert","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["efae1503.ffde78"]]},{"id":"efae1503.ffde78","type":"function","z":"fff2c2fc.f131b","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":200,"wires":[["1939ca77.ba1866"]]},{"id":"1939ca77.ba1866","type":"json","z":"fff2c2fc.f131b","name":"","property":"payload","action":"","pretty":false,"x":110,"y":260,"wires":[["ba08f106.73da8"]]},{"id":"ba08f106.73da8","type":"ibmiot out","z":"fff2c2fc.f131b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"52212117204A","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":160,"y":320,"wires":[]}]