Rpi1.json
[{"id":"64126393.3b4d1c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96a5cc50.49089","type":"inject","z":"64126393.3b4d1c","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["134e0d24.a17d13"]]},{"id":"134e0d24.a17d13","type":"random","z":"64126393.3b4d1c","name":"","low":"1","high":"10","inte":"true","property":"payload","x":140,"y":140,"wires":[["afe94c4e.3530a"]]},{"id":"afe94c4e.3530a","type":"function","z":"64126393.3b4d1c","name":"format data ","func":"msg.payload = { 'd' : { 'random' : msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["b63a30.8b8125d","67458766.a72268"]]},{"id":"b63a30.8b8125d","type":"debug","z":"64126393.3b4d1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":260,"wires":[]},{"id":"67458766.a72268","type":"wiotp out","z":"64126393.3b4d1c","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"1cb73df2.aed1a2","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":130,"y":320,"wires":[]},{"id":"1cb73df2.aed1a2","type":"wiotp-credentials","z":"","name":"52212117204A","org":"soubz5","serverName":"","devType":"raspberrypi","devId":"52212117204A","keepalive":"60","cleansession":true,"tls":"","usetls":false}]