simulator.json
[{"id":"e957bf08.b75b8","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"90e9f60c.20b508","type":"ibmiot in","z":"e957bf08.b75b8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sen52212117204B","applicationId":"","deviceType":"senHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":100,"wires":[["6c2b806f.04867","fee24dc1.72b7","f4bb247e.4049e8","6799fb4d.5ac834"]]},{"id":"6c2b806f.04867","type":"debug","z":"e957bf08.b75b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":220,"wires":[]},{"id":"af593260.a9192","type":"ui_button","z":"e957bf08.b75b8","name":"","group":"1ba6fe18.f0fee2","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":300,"wires":[[]]},{"id":"fee24dc1.72b7","type":"function","z":"e957bf08.b75b8","name":"Temperature","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["ceb4d32c.3d634"]]},{"id":"f4bb247e.4049e8","type":"function","z":"e957bf08.b75b8","name":"Humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["73621416.64dc9c"]]},{"id":"6799fb4d.5ac834","type":"function","z":"e957bf08.b75b8","name":"Pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["8ea99d0c.f5c45"]]},{"id":"ceb4d32c.3d634","type":"ui_gauge","z":"e957bf08.b75b8","name":"","group":"1ba6fe18.f0fee2","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":60,"wires":[]},{"id":"73621416.64dc9c","type":"ui_gauge","z":"e957bf08.b75b8","name":"","group":"1ba6fe18.f0fee2","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":100,"wires":[]},{"id":"8ea99d0c.f5c45","type":"ui_gauge","z":"e957bf08.b75b8","name":"","group":"1ba6fe18.f0fee2","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":140,"wires":[]},{"id":"1ba6fe18.f0fee2","type":"ui_group","z":"","name":"Default","tab":"aaac08fc.3db078","disp":true,"width":"6","collapse":false},{"id":"aaac08fc.3db078","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]