Simulator1.json
[{"id":"67257f92.0802f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"da315644.c39b98","type":"rpi-sensehatsim in","z":"67257f92.0802f","name":"","motion":false,"env":true,"stick":false,"x":120,"y":60,"wires":[["ada2657d.c0a6f8"]]},{"id":"ada2657d.c0a6f8","type":"delay","z":"67257f92.0802f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":120,"wires":[["cb3fcc36.148af"]]},{"id":"cb3fcc36.148af","type":"function","z":"67257f92.0802f","name":"Env. Data ","func":"msg.payload = { \"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senHat\";\nmsg.deviceId = \"sen52212117204B\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":180,"wires":[["fcbbbb2.b399648","f54df9f0.a5a758"]]},{"id":"fcbbbb2.b399648","type":"debug","z":"67257f92.0802f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":140,"y":240,"wires":[]},{"id":"f54df9f0.a5a758","type":"wiotp out","z":"67257f92.0802f","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"1cb73df2.aed1a2","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":150,"y":300,"wires":[]},{"id":"1cb73df2.aed1a2","type":"wiotp-credentials","z":"","name":"52212117204B","org":"soubz5","serverName":"","devType":"raspberrypiGW","devId":"52212117204B","keepalive":"60","cleansession":true,"tls":"","usetls":false}]